{% extends 'base.html' %}

{% block body %}
    <div class="my-4">
        <h2 class="title">{{ post['title'] }}</h2>
        <a href="{{ url_for('index') }}" class="btn btn-outline-secondary">Back</a>
        <div class="card post my-3">
            {% if post['image'] is not none %}
                <img class="card-img-top" src="{{ '/' + post['image'] }}">
            {% endif %}
            <div class="card-body">
                {% if post['body'] is not none %}
                    <p>{{ post['body'] }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
